/* Global Styles to apply default styles to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Navigation Bar*/ 
header {
  background: #2c3e50;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  text-align: center;
}
header h1 {
  color: #ecf0f1;
  margin-bottom: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12;
}